# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg

# Environments
.env/
.venv/
venv/

# Logs / misc
*.log

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Streamlit
.streamlit/
secrets.toml

# OS
.DS_Store
Thumbs.db